<template>
  <v-container fluid fill-height>
  <v-layout v-resize="onResize" align-baseline>
    <v-flex xs12 sm20 lg3 class="list-usuarios" v-if="mostrarLista">
      <v-card>
        <v-toolbar color="secondary" dark>
          <v-toolbar-title>
            <span class="global-font">Contactos</span>
          </v-toolbar-title>
        </v-toolbar>

        <v-list two-line>
          <v-list-item
            v-for="usuario in usuarios"
            :key="usuario.uid"
            @click="seleccionarUsuario(usuario)"
            :class=" { 'usuario-seleccionado': usuarioSeleccionado && usuarioSeleccionado.uid == usuario.uid } "
          >
            <v-list-item-avatar>
              <v-img :src="usuario.foto" sizes="40"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="usuario.nombre" class="global-font"></v-list-item-title>
              <v-list-item-subtitle v-text="usuario.ultimoMensaje" class="global-font"></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action v-if="usuario.cantidadMensajes > 0">
              <v-badge color="primary">
                <span slot="badge"> {{ usuario.cantidadMensajes }} </span>
              </v-badge>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card>
    </v-flex>

    <v-flex xs12 sm20 lg9 v-if="mostrarChat">
      <v-container >
        <v-layout align-baseline>
          <v-flex>
            <v-card color="#f7faff" :class="mostrarLista ? 'ml-2' : 'ml-0'" >
              <v-toolbar color="secondary" card dark dense>
                <v-toolbar-title>
                  <v-btn icon  @click="regresarLista">
                    <v-icon>arrow_back</v-icon>
                  </v-btn>                 
                  <v-avatar color="white" size="35">
                    <v-img :src="usuarioSeleccionado.foto"></v-img>
                  </v-avatar>
                  <span class="global-font ml-4">{{ usuarioSeleccionado.nombre }}</span>
                </v-toolbar-title>
              </v-toolbar>
              <v-container ref="chatContainer" class="overflow-y-auto pa-0 ma-0" >
                <v-card-text :style="'max-height:' + height + 'px;'">
                  <v-flex :offset-xs4="item.uid == usuario.uid" :xs8="item.uid != usuario.uid" class="my-3" 
                    v-for="item in chat" :key="item.mid">
                    <v-layout column>
                      <div class="global-font chat-fecha">{{ convertirFecha(item.fechaEnvio) }}</div>
                      <v-card :color="item.uid != usuario.uid ? 'white' : '#c3d9ff'" elevation="1" class="chat-mensaje">
                        <v-card-text >
                          <div class="global-font"> {{ item.texto }}</div>
                        </v-card-text>
                      </v-card>
                    </v-layout>
                  </v-flex>
                </v-card-text>
              </v-container>

              <v-card-text>
                <v-text-field filled ref="txtMensaje" v-model="mensaje" :loading="enviandoMensaje" :disabled="enviandoMensaje" 
                  @keyup.enter="enviarMensaje"
                  solo hide-details label="Escribe tu mensaje " class="global-font"></v-text-field>
              </v-card-text>

            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
  </v-container>
</template>


<script>
import { db } from "@/firebase";
import uuidv4 from 'uuid/v4'
import Vue from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCode } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faCode);

Vue.component("font-awesome-icon", FontAwesomeIcon);

export default {
  props: ["usuario"],
  data() {
    return {
      usuarios: [],
      usuarioSeleccionado: null,
      chat: [],
      mensaje: '',
      enviandoMensaje: false,
      cid: null,
      detenerChat: null,
      height: 0
    };
  },
  computed: {
    esMovil() {
      return this.$vuetify.breakpoint.width < 600;
    },
    mostrarLista() {
      return this.usuarios && (!this.esMovil || !this.usuarioSeleccionado);
    },
    mostrarChat() {
      return this.usuarios && this.usuarioSeleccionado;
    }
  },
  created() {
    this.consultarUsuarios();
  },
  methods: {
    convertirFecha(timeStamp){
      return timeStamp.toDate().toISOString().substring(0,16).replace('T',' ');
    },
    async consultarUsuarios() {
      try {
        let docs = await db.collection("usuarios").get();

        docs.forEach(element => {
          let usuario = element.data();
          if (usuario.uid != this.usuario.uid) {
            usuario.cantidadMensajes=0;
            usuario.ultimoMensaje=''; 
            this.usuarios.push(usuario);
          }

          this.consultarChatSinLeer();
        });
      } catch (error) {
        this.enviarNotificacion(
          "Ocurrio un error consultando la informacion",
          "error"
        );
      }
    },
    consultarChatSinLeer(){
      /*
      db.collection('usuarios')
        .doc(this.usuario.uid)
        .collection('chat-sin-leer')
        .orderBy('fechaEnvio')
        .onSnapshot(snapshot => {
          snapshot.docChanges().forEach(change => { // added, modified, removed
              let mensaje =  change.doc.data();

              let usuario = this.usuarios.find(u => u.uid == mensaje.uid);

              if(usuario){
                switch(change.type){
                  case 'added':
                    usuario.cantidadMensajes++;
                    usuario.ultimoMensaje = mensaje.texto;
                    break;
                  case 'removed':
                    usuario.cantidadMensajes--;
                    usuario.ultimoMensaje = '';
                    break;
                }
                
              }
            
          });
        } , 
        () => {
          this.enviarNotificacion('Ocurrio un error recuperando los mensajes sin leer','error');
        })*/
    },
    enviarNotificacion(mensaje, color) {
      this.$emit("onNotificacion", { mensaje, color });
    },
    generarChatId(uid1, uid2){
      return uid1 < uid2 ? `${uid1}-${uid2}` : `${uid2}-${uid1}`
    },
    async seleccionarUsuario(usuario) {
      this.cid = this.generarChatId(this.usuario.uid, usuario.uid);

      try {
        let doc = await db.collection('contactos')
                    .doc(this.cid)
                    .get();

        if(!doc.exists){
          await db.collection('contactos')
                  .doc(this.cid)
                  .set({ cid: this.cid })
        }

        this.usuarioSeleccionado = usuario;

        this.consultarChat();
      } catch (error) {
        this.enviarNotificacion('Ocurrio un Error recuperando la información', 'error');
      }
    },
    consultarChat(){
      this.chat = [];

      if(this.detenerChat){
        this.detenerChat();
      }

      this.detenerChat = db.collection('contactos')
        .doc(this.cid)
        .collection('chat')
        .orderBy('fechaEnvio', 'asc')
        .onSnapshot(snapshot => {
          snapshot.docChanges().forEach(change => { // added, modified, removed
            if(change.type == 'added'){
              let mensaje =  change.doc.data();

              this.chat.push(mensaje);

              if(!mensaje.fechaLeido && mensaje.uid != this.usuario.mid){
                this.marcarMensajeLeido(mensaje);
              }
            }

            this.$nextTick(()=>{
              if(this.$refs.chatContainer){
                this.$refs.chatContainer.scrollTop=1000000000;
              }
            })
            
          })
        } , 
        () => {
          this.enviarNotificacion('Ocurrio un error recuperando los mensajes','error');
        })
    },
    marcarMensajeLeido(mensaje){
       let batch =  db.batch();

      batch.update(
        db.collection('contactos')
                .doc(this.cid)
                .collection('chat')
                .doc(mensaje.mid) 
        ,{fechaLeido: new Date()} 
      );

      batch.delete(
        db.collection('usuarios')
                .doc(this.usuario.uid)
                .collection('chat-sin-leer')
                .doc(mensaje.mid)
      );

      batch.commit();
    },
    regresarLista() {
      this.usuarioSeleccionado = null;
    },
    async enviarMensaje(){
      if(!this.mensaje && !this.enviandoMensaje) { return }

      this.enviandoMensaje = true;

      let mid = uuidv4();

      let mensajeEnviado = {
        mid,
        texto: this.mensaje,
        fechaEnvio: new Date(),
        uid: this.usuario.uid
      };

      let batch =  db.batch();

      batch.set(
        db.collection('contactos')
                .doc(this.cid)
                .collection('chat')
                .doc(mid)
        ,mensajeEnviado
      );

      batch.set(
        db.collection('usuarios')
                .doc(this.usuarioSeleccionado.uid)
                .collection('chat-sin-leer')
                .doc(mid)
        ,mensajeEnviado
      );

      try {
         
         batch.commit();
        
        this.mensaje = '';
      } catch (error) {
        this.enviarNotificacion('Error un Enviando el mensaje, Intentalo nuevamente','error');
      }
      finally {
        this.enviandoMensaje = false;

        this.$nextTick(()=>{
          if(this.$refs.txtMensaje){
            this.$refs.txtMensaje.focus(); 
          }
        })
        
      }
    },
    onResize(){
      this.height = window.innerHeight - 252; 
    }
  }
};
</script>

<style>
.list-usuarios {
  background-color: #dfdfdf;
}

.usuario-seleccionado {
  background-color: #bad2ff;
}

.chat-mensaje{
  border-radius: 10px;
}

.chat-fecha{
  font-size: 0.8rem;
  margin: 3px;
  color: #929292;
}
</style>