<template>
  <v-card>
    <v-subheader inset>
      <b>Directorio Actual:</b>
      {{this.folder}}
    </v-subheader>
    <div class="text-center">
      <v-dialog v-model="loading" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text>
            Cargando...
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>

    <v-list two-line subheader class="mx-10" shaped>
      <v-list-item v-for="item in items" :key="item.title" @click="test()" @dblclick="open(item)">
        <v-list-item-avatar>
          <v-icon :class="[item.iconClass]" v-text="item.icon"></v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title v-text="item.name"></v-list-item-title>
          <v-list-item-subtitle v-text="item.dateAccess"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action v-if="item.type != 'back' && item.id != 0">
          <v-btn icon @click="fileInfo(item)">
            <v-icon color="grey lighten-1">mdi-information</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="orange">
          <v-btn icon dark @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Carga de Archivos</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text :disabled="uploadDisabled" @click="upload">Cargar Archivos</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container v-cloak @drop.prevent="addFile" @dragover.prevent style="height: 90vh">
          <v-container v-if="files.length == 0">
            <v-row justify="center">
              <v-icon size="30vw" color="blue lighten-4">mdi-upload</v-icon>
              <br />
            </v-row>
            <v-row justify="center" color="gray">
              <v-label color="deep-purple lighten-3">Arrastra los archivos aquí</v-label>
            </v-row>
          </v-container>

          <v-list-item v-for="file in files" :key="file.title">
            <v-list-item-avatar>
              <v-icon class="blue lighten-1 white--text">mdi-file</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="file.name"></v-list-item-title>
              <v-list-item-subtitle>{{ file.size | size }}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click="removeFile(file)">
                <v-icon color="red lighten-1">mdi-delete</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-container>
      </v-card>
    </v-dialog>

    <v-speed-dial
      v-model="fab"
      bottom
      right
      direction="top"
      transition="slide-y-reverse-transition"
      open-on-hover
      v-if="idFolder != 0"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>create</v-icon>
        </v-btn>
      </template>

      <v-btn fab dark small color="green" @click="newFolder = true">
        <v-icon>folder</v-icon>
      </v-btn>
      <v-btn fab dark small color="indigo" @click="upfiles">
        <v-icon>cloud_upload</v-icon>
      </v-btn>
    </v-speed-dial>

    <v-bottom-sheet v-model="modalInfo" inset>
      <v-sheet height="200px">
        <h1
          class="text-center"
          style="color: #03A9F4"
        >Información {{itemInfo.type == "file" ? " del Archivo" : " de la Carpeta"}}</h1>
        <v-row class="ml-5">
          <v-col>
            <v-label>
              <b>Nombre:</b>
              {{itemInfo.name}}
            </v-label>
            <br />
            <v-label v-if="itemInfo.type == 'file'">
              <b>Última Modificación:</b>
              {{itemInfo.dateAccess}}
            </v-label>
            <br v-if="itemInfo.type == 'file'" />
            <v-label>
              <b>Propietario:</b>
              {{itemInfo.owner}}
            </v-label>
          </v-col>
          <v-col>
            <v-label v-if="itemInfo.type == 'file'">
              <b>Creado:</b>
              {{itemInfo.dateCreate}}
            </v-label>
            <br />
            <v-label v-if="itemInfo.type == 'file'">
              <b>Tamaño:</b>
              {{itemInfo.size | size}}
            </v-label>
          </v-col>
        </v-row>
        <v-row class="ml-5">
          <v-btn class="ma-2" outlined color="red" @click="drop(itemInfo)" v-if="itemInfo.isOwner">
            <v-icon>delete</v-icon>Eliminar
          </v-btn>
          <v-btn
            class="ma-2"
            outlined
            color="blue"
            v-if="itemInfo.type == 'file'"
            :href="server + 'documentos/download/' + itemInfo.id"
            target="_blank"
            @click="modalInfo = false"
          >
            <v-icon>cloud_download</v-icon>Descargar
          </v-btn>
          <v-btn
            class="ma-2"
            outlined
            color="purple"
            v-if="itemInfo.type == 'file' && itemInfo.isOwner"
            @click="openShareFile(itemInfo)"
          >
            <v-icon>people</v-icon>Compartir
          </v-btn>
        </v-row>
      </v-sheet>
    </v-bottom-sheet>

    <v-row justify="center">
      <v-dialog v-model="newFolder" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Nueva Carpeta</span>
          </v-card-title>
          <v-card-text>
            <v-text-field label="Nombre" required v-model="folderName"></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="newFolder = false">Cerrar</v-btn>
            <v-btn color="blue darken-1" text @click="createFolder()">Crear</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="newShareFile" persistent max-width="800px">
        <v-card>
          <v-card-title>
            <span class="headline">Compartir Archivo</span>
          </v-card-title>
          <v-card-text>
            <multiselect
              v-model="usersShare"
              :options="listUsers"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Seleccionar Usuario ..."
              label="nombre"
              track-by="nombre"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span
                  class="multiselect__single"
                  v-if="values.length &amp;&amp; !isOpen"
                >{{ values.length }} Usuario(s) Seleccionado(s)</span>
              </template>
            </multiselect>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="newShareFile = false">Cerrar</v-btn>
            <v-btn color="blue darken-1" text @click="shareFile()">Compartir</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-snackbar v-model="notification" vertical :timeout="3000" right color="blue darken-2">
      {{ textNotify }}
      <v-btn color="white" text @click="notification = false">Cerrar</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  components: { Multiselect },
  data: () => ({
    fab: false,
    dialog: false,
    newFolder: false,
    newShareFile: false,
    dataFileShare: {},
    loading: true,
    folder: "/",
    files: [],
    items: [],
    usersShare: [],
    listUsers: [],
    search: "",
    itemInfo: {},
    modalInfo: false,
    idFolder: null,
    server: "http://35.226.59.139:3000/api/",
    idUser: localStorage.getItem("uid"),
    folderName: "",
    notification: false,
    textNotify: ""
  }),
  computed: {
    uploadDisabled() {
      return this.files.length === 0;
    }
  },
  props: {
    search: String
  },
  watch: {
    search: function() {
      this.getFilesandFolders();
    }
  },
  created() {
    this.getUsers();
  },
  methods: {
    updateSearch() {
      window.console.log("update search");
    },
    Chat() {
      this.$router.push({ name: "chat" });
    },
    upfiles() {
      this.files = [];
      this.dialog = true;
    },
    addFile(e) {
      this.dialog = true;
      let droppedFiles = e.dataTransfer.files;
      if (!droppedFiles) return;
      [...droppedFiles].forEach(f => {
        this.files.push(f);
      });
    },
    removeFile(file) {
      this.files = this.files.filter(f => {
        return f != file;
      });
    },
    async upload() {
      this.dialog = false;
      window.console.log("Inicio de Cargue al Servidor");
      let formData = new FormData();
      this.files.forEach((f, x) => {
        formData.append("upfile", f);
        window.console.log(x);
      });
      formData.append("idFolder", this.idFolder);
      formData.append("idUser", this.idUser);
      var context = this;
      const axios = require("axios");
      await axios
        .post(this.server + "documentos/", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(function(response) {
          context.showNotification(response.data.message);
          context.getFilesandFolders();
        })
        .catch(function() {
          window.console.log("FAILURE!!");
        });
    },
    async find() {
      this.getFilesandFolders();
    },
    async createFolder() {
      this.loading = true;
      this.newFolder = false;
      const axios = require("axios");
      var context = this;
      let formData = new FormData();
      formData.append("idFolder", this.idFolder);
      formData.append("owner", this.idUser);
      formData.append("name", this.folderName);
      await axios
        .post(this.server + "estructuras/create", formData)
        .then(function(response) {
          context.folderName = "";
          context.showNotification(response.data.message);
          context.getFilesandFolders();
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    openShareFile(data) {
      this.modalInfo = false;
      this.newShareFile = true;
      this.dataFileShare = data;
    },
    async shareFile() {
      this.loading = true;
      this.newShareFile = false;
      const axios = require("axios");
      var context = this;
      let formData = new FormData();

      let usersIds = '';
      this.usersShare.forEach((value) => {
          usersIds += (usersIds.length <= 0) ? value.id : ','+value.id;
      });
      
      formData.append("idFile", this.itemInfo.id);
      formData.append("users", usersIds);
      await axios
        .post(this.server + "documentos/shared", formData)
        .then(function(response) {
          context.showNotification(response.data.message);
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    async drop(data) {
      this.modalInfo = false;
      this.loading = true;
      const axios = require("axios");
      var context = this;
      await axios
        .delete(
          this.server +
            (data.type == "folder" ? "estructuras" : "documentos") +
            "/" +
            data.id
        )
        .then(function(response) {
          context.showNotification(response.data.message);
          context.getFilesandFolders();
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    loadData(response) {
      this.items = response.data;
    },
    loadUsers(response) {
      let users_array = response.data.data;

      this.listUsers = users_array.filter(function(obj) {
        return obj.uid !== localStorage.getItem("uid");
      });
    },
    fileInfo(data) {
      this.itemInfo = data;
      this.modalInfo = true;
    },
    test() {},
    open(file) {
      if (file.type == "folder" || file.type == "back") {
        this.idFolder = file.id;
        this.folder = file.id == null ? "/" : file.name;
        this.search = "";
        this.$emit("clearSearch");
        this.getFilesandFolders();
      } else this.fileInfo(file);
    },
    async getFilesandFolders() {
      this.loading = true;
      const axios = require("axios");
      var context = this;
      let formData = new FormData();
      formData.append("idFolder", this.idFolder);
      formData.append("owner", this.idUser);
      formData.append("search", this.search);
      await axios
        .post(this.server + "navigation/", formData)
        .then(function(response) {
          context.loadData(response);
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    async getUsers() {
      this.loading = true;
      const axios = require("axios");
      var context = this;
      await axios
        .get(this.server + "usuarios")
        .then(function(response) {
          context.loadUsers(response);
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    showNotification(text) {
      this.textNotify = text;
      this.notification = true;
    }
  },
  async beforeMount() {
    this.getFilesandFolders();
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.v-list {
  height: 85vh;
  overflow: auto;
}
.v-speed-dial {
  position: absolute;
}

.v-btn--floating {
  position: relative;
}
</style>