<template>
  <v-layout justify-center align-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
      <v-card>
        <v-toolbar color="secondary" dark card>
          <v-toolbar-title class="global-font">Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-text-field autofocus v-model="email" label="Email" class="global-font"></v-text-field>
          <v-text-field
            @keyup.enter="ingresar"
            v-model="password"
            label="Contraseña"
            type="password"
            class="global-font"
          ></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-layout justify-end>
            <v-btn @click="ingresar" class="global-font" color="primary">Ingresar</v-btn>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>


<script>
import { auth, db } from "@/firebase";

export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    async ingresar() {
      if (!this.email) {
        this.enviarNotificacion("Debes Ingresar un email", "warning");
        return;
      }
      if (!this.password) {
        this.enviarNotificacion("Debes Ingresar una contraseña", "warning");
        return;
      }

      try {
        //await auth.signInWithEmailAndPassword(this.email, this.password);

        if (auth.currentUser) {
          let uid = auth.currentUser.uid;

          let doc = await db
            .collection("usuarios")
            .doc(uid)
            .get();

          if (doc.exists) {
            let usuario = doc.data();
            this.$emit("onIngresar", usuario);
          } else {
            this.enviarNotificacion(
              "No se encotro la informacion del usuario",
              "error"
            );
            return;
          }
        }
      } catch (error) {
        switch (error.code) {
          case "auth/user-not-found":
          case "auth/wrong-password":
            this.enviarNotificacion(
              "Usuario No valido, verifique correo y contraseña",
              "warning"
            );
            return;
          default:
            this.enviarNotificacion(
              "Ocurrio un error consultando la informacion",
              "error"
            );
            return;
        }
      }
    },
    enviarNotificacion(mensaje, color) {
      this.$emit("onNotificacion", { mensaje, color });
    }
  }
};
</script>

<style>
</style>