<template>
  <v-app>
    <v-app-bar color="primary"  dark app>
      <v-toolbar-title class="global-font ">
          Chat Document Management System
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-layout v-if="usuario" align-center justify-end >
        <v-avatar color="white">
          <v-img :src="usuario.foto"></v-img>
        </v-avatar>
        <span class="global-font ml-3">{{ usuario.nombre }}</span>
        <v-btn class="global-font ml-3" color="secondary" small @click="usuario=null" >Salir</v-btn>
      </v-layout>
    </v-app-bar>

    <v-content>
      <v-container fluid fill-height class="fondo">
        <Login v-if="!usuario" @onIngresar="ingresar" @onNotificacion="getNotificacion"/>
          <Chat v-else :usuario="usuario" @onNotificacion="getNotificacion"/>
      </v-container>
    </v-content>

    <v-snackbar v-model="notificacion.visible" :color="notificacion.color" 
      multi-line top :timeout="6000" dark>
      <span>{{notificacion.mensaje}}</span>
      <v-btn :color="notificacion.color" small flat @click="notificacion.visible = false">Cerrar</v-btn>
    </v-snackbar>

    <v-footer color="primary" dark class="global-font ">
      <v-layout justify-center>
        <span>Seminario Actualización UNIAJC - 2019</span>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import Login from './Login';
import Chat from './Chat';

export default {
  name: 'App',
  components: {
    Login, Chat
  },
  data(){
      return{
          usuario: null,
          notificacion: {
            mensaje:'',
            color: 'info',
            visible: false 
          }
      }
  },
  methods: {
    ingresar(usuario){
      this.usuario = usuario;
    },
    getNotificacion(notificacion){
      this.notificacion.mensaje = notificacion.mensaje;
      this.notificacion.color = notificacion.color;
      this.notificacion.visible = true;
      
    }
  }
};
</script>


<style>
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

.global-font{
  font-family: 'Big Shoulders Text', cursive !important; 
}
.fondo{
   background-color: #f1f1f1;

}
</style>