<template>
  <v-app>
    <v-app-bar color="primary"  dark app>
      <v-toolbar-title class="global-font mr-5">
          Document Management 
      </v-toolbar-title>       
      <v-layout v-if="usuario" align-center>
        <v-text-field 
        flat 
        solo-inverted 
        hide-details 
        prepend-inner-icon="mdi-cloud-circle" 
        label="Busqueda"
        class="hidden-sm-and-down"
        v-model="textSearch"
        @keyup.enter ="find()"
        />
        <v-btn icon @click="archivos" class="ml-5">
          <v-icon>folder_shared</v-icon>
        </v-btn>
        <v-btn icon @click="Chat()">
        <v-icon>question_answer</v-icon>
      </v-btn>
        <v-avatar color="white">
          <v-img :src="usuario.foto"></v-img>
        </v-avatar>
        <span class="global-font ml-3">{{ usuario.nombre }}</span>        
        <v-btn icon class="ml-5" small @click="salir" >           
          <v-icon>exit_to_app</v-icon>
        </v-btn>
      </v-layout>        
    </v-app-bar>

    <v-content>
      <router-view @onIngresar="ingresar" @onNotificacion="getNotificacion" @clearSearch="clearSearch"
      :usuario="usuario" :search="search"
      ></router-view>
    </v-content>
    
    <v-snackbar v-model="notificacion.visible" :color="notificacion.color" 
      multi-line top :timeout="6000" dark>
      <span>{{notificacion.mensaje}}</span>
      <v-btn :color="notificacion.color" small flat @click="notificacion.visible = false">Cerrar</v-btn>
    </v-snackbar>

  </v-app>
</template>

<script>
import { db } from "@/firebase";

export default {
  
  data(){
      return{
          usuario: null,
          search: "",
          textSearch:"",
          notificacion: {
            mensaje:'',
            color: 'info',
            visible: false,            
          }
      }
  },
  created() {
    this.verificarSession();
  },
  methods: {
    ingresar(usuario){
      this.usuario = usuario;
      this.$router.push({name:'archivos'})
    },
    getNotificacion(notificacion){
      this.notificacion.mensaje = notificacion.mensaje;
      this.notificacion.color = notificacion.color;
      this.notificacion.visible = true;
      
    },
    clearSearch(){
      this.search='';
      this.textSearch = '';
    },
    archivos(){
      this.$router.push({name:'archivos'})
    },
    Chat(){
      this.$router.push({name:'chat'})
    },
    salir(){
      this.usuario=null
      this.$router.push({name:'home'})
      localStorage.removeItem("uid")
    },
     async find() {
       this.search = this.textSearch;
      const axios = require("axios");
      var context = this;
      await axios
        .get("http://35.226.59.139:3000/api/usuarios?data=" + this.search)
        .then(function(response) {
          window.console.log(response.data);
        })
        .catch(function(error) {
          window.console.log(error);
        })
        .finally(function() {
          context.loading = false;
        });
    },
    async verificarSession(){
      const userid = localStorage.getItem("uid");
      if(userid){
        let doc = await db
            .collection("usuarios")
            .doc(userid)
            .get();

          if (doc.exists) {
            this.usuario = doc.data();
          } else {
            this.usuario=null
            this.$router.push({name:'home'})
            localStorage.removeItem("uid")
          }
      }else{
        this.usuario=null
        this.$router.push({name:'home'})
        localStorage.removeItem("uid")
      }
    }
  }
};
</script>